.nav-container {
  background-color: #333;
  margin: 0;
  overflow: hidden;
}

.custom-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.custom-nav li {
  display: list-item;
  float: left;
}

.custom-nav > li > a {
  color: #EEE;
  display: block;
  line-height: 2em;
  padding: 0.5em 1em;
  text-decoration: none;
}

.custom-nav > li > a:hover {
  color: white;
}

.active {
  background-color: #96C02F;
  color: white;
}